# SETS

1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

In [5]:
s={1,2,3,4,5,6,7,8,9}  #  # Set of numbers 
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
type(s)

set

In [7]:
len(s)   #Length of the set

9

In [9]:
s1={0,1,2,3,3,4,5,5,6,7,7,8,9}
s                                   # duplicates elements are not allowed

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s2={1.2,3.4,4.5,5.6,6.7,7.8,99.0} # Set of float numbers
s2

{1.2, 3.4, 4.5, 5.6, 6.7, 7.8, 99.0}

In [13]:
s3={'sri','sai',"praveen","katta"}  # set of strings
s3

{'katta', 'praveen', 'sai', 'sri'}

In [17]:
s4={10,'katta',10.3,1+2j}   # mixed data types
s4

{(1+2j), 10, 10.3, 'katta'}

In [21]:
s5= {10,20, "Hola", [11, 22, 32]}  # set doesn't support items like list
s5

TypeError: unhashable type: 'list'

In [23]:
s6= {10,20, "Hola", (11, 22, 32)}
s6

{(11, 22, 32), 10, 20, 'Hola'}

In [25]:
s7=set() # empty set
s7

set()

In [27]:
s8=set(('ten','twenty',9,1+2j,9.9))
s8

{(1+2j), 9, 9.9, 'ten', 'twenty'}

 # LOOP THROUGH  A SET

In [34]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
set = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [48]:
for i in set:
 print(i)

five
six
one
four
three
two
eight
seven

In [50]:
 for i in enumerate(set):
     print(i)

(0, 'five')
(1, 'six')
(2, 'one')
(3, 'four')
(4, 'three')
(5, 'two')
(6, 'eight')
(7, 'seven')

# Set Membership

In [57]:
print(set)

{'five', 'six', 'one', 'four', 'three', 'two', 'eight', 'seven'}

In [65]:
'one'in set #Check if 'one' exist in the set

True

In [69]:
'ten' in set # Check if 'ten' exist in the set

False

In [78]:
if 'three' in set:    #  Check if 'three' exist in the set 
    print("Three is present in the set")
else:
    print("Three is not present in the set")

Three is present in the set

In [80]:
if "ten" in set:   # Check if 'ten' exist in the list
    print("Ten is present in the set")
else:
    print("Ten is not present in the set")

Ten is not present in the set

In [82]:
print(s)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1.2, 3.4, 4.5, 5.6, 6.7, 7.8, 99.0}

In [84]:
print(s4)

{'katta', 10, 10.3, (1+2j)}

In [116]:
set

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'three',
 'two'}

In [88]:
s1.add(25)
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 25}

In [118]:
set.add("ten")  # Add item to a set using add() method
set

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'ten',
 'three',
 'two'}

In [100]:
s1.update(21,22,23)

TypeError: 'int' object is not iterable

In [122]:
set.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using 
set

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'ten',
 'three',
 'two'}

In [124]:
set.add('six')
set

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [126]:
set.remove('TEN')
set

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [128]:
set.discard('ten') # remove item from a set using discard() method 
set

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [130]:
set.discard()   # remove item from a set using discard() method
set

TypeError: set.discard() takes exactly one argument (0 given)

In [132]:
s.clear() # Delete all items in a set 
s

set()

In [134]:
s

set()

In [136]:
del s # Delete the set object 
s

NameError: name 's' is not defined

# COPY SET

In [139]:
set1= {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
set1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [141]:
set2=set1   # Create a new reference "myset1" 
set2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [145]:
id(set1),id(set2)  # The address of both set1 & set2 will be the same

(2597584360768, 2597584360768)

In [149]:
set3=set1.copy()   # Create a copy of the list
set3

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [151]:
id(set3)

2597584365920

In [153]:
set3.add("NINE")
set3

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [155]:
set2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [157]:
set1   # set1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [159]:
set3

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# SET OPERATON

# UNION

In [175]:
a={2,3,4,5,6,7,9}
b={1,2,3,4,5,6,90,55,34}
c={10,11,3,4,13,15,16}

In [177]:
a|b

{1, 2, 3, 4, 5, 6, 7, 9, 34, 55, 90}

In [181]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 9, 34, 55, 90}

In [183]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 15, 16, 34, 55, 90}

In [187]:
a|{b,c}

TypeError: unhashable type: 'set'

In [191]:
# """ 
#Updates the set calling the update() method with union of A , B & C. 
# For below example Set A will be updated with union of A,B & C. 
# """ 
a.update(b,c)
a

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 15, 16, 34, 55, 90}

# INTERSECTION

In [194]:
a={2,3,4,5,6,7,9}
b={1,2,3,4,5,6,90,55,34}
c={10,11,3,4,13,15,16}

In [196]:
a&b

{2, 3, 4, 5, 6}

In [198]:
a&c

{3, 4}

In [200]:
a.intersection(b)

{2, 3, 4, 5, 6}

In [202]:
a.intersection_update(b)
a

{2, 3, 4, 5, 6}

In [204]:
b.intersection(c)

{3, 4}

In [206]:
b&c

{3, 4}

# DIFFERENCE

In [210]:
a={2,3,4,5,6,7,9}
b={1,2,3,4,5,6,90,55,34}
c={10,11,3,4,13,15,16}

In [212]:
a-b

{7, 9}

In [214]:
b-a

{1, 34, 55, 90}

In [216]:
a.difference(c)

{2, 5, 6, 7, 9}

In [218]:
c-a

{10, 11, 13, 15, 16}

In [220]:
a-c

{2, 5, 6, 7, 9}

In [224]:
a.difference_update(b)
a

{7, 9}

# Symmetric Difference

In [228]:
a={2,3,4,5,6,7,9}
b={1,2,3,4,5,6,90,55,34}
c={10,11,3,4,13,15,16}

In [230]:
a^b

{1, 7, 9, 34, 55, 90}

In [232]:
b^c

{1, 2, 5, 6, 10, 11, 13, 15, 16, 34, 55, 90}

In [234]:
a.symmetric_difference(c)

{2, 5, 6, 7, 9, 10, 11, 13, 15, 16}

In [238]:
b.symmetric_difference(c)

{1, 2, 5, 6, 10, 11, 13, 15, 16, 34, 55, 90}

In [240]:
a.symmetric_difference_update(c)
a

{2, 5, 6, 7, 9, 10, 11, 13, 15, 16}

# Subset , Superset & Disjoint

In [247]:
A={1,2,3,4,5,6,7,8,9}
B={2,3,4,5,6,9}
C={10,11,3,4,13,15,16}

In [249]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A

True

In [251]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [253]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

False

In [255]:
 B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

False

In [258]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [260]:
sum(A)

45

In [262]:
max(A)

9

In [264]:
min(A)

1

In [266]:
len(A)

9

In [268]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [270]:
D= sorted(A,reverse=True) 
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [272]:
 sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]